# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXX

# You must setup a Google Cloud account and project here: https://cloud.google.com/vertex-ai/generative-ai/docs/start/quickstarts/quickstart-multimodal?cloudshell=true#set-up-your-environment
# Then get your Application Default Credentials here: https://cloud.google.com/docs/authentication/provide-credentials-adc#local-dev
GOOGLE_VERTEX_PROJECT=XXXXXXXX
GOOGLE_VERTEX_LOCATION=XXXXXXXX
# Encode credentials to base64 here: https://www.base64encode.org/
GOOGLE_SERVICE_KEY=XXXXXXXX

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL=XXXXXXXX
KV_REST_API_URL=XXXXXXXX
KV_REST_API_TOKEN=XXXXXXXX
KV_REST_API_READ_ONLY_TOKEN=XXXXXXXX

# API Keys

# https://developer.kroger.com/
KROGER_CLIENT_ID=XXXXXXXX
KROGER_CLIENT_SECRET=XXXXXXXX

# https://developer.walgreens.com/
WALGREENS_API_KEY=XXXXXXXX

# https://spoonacular.com/food-api
SPOONACULAR_API_KEY=XXXXXXXX

# https://upcdatabase.org/api
UPC_DATABASE_API_KEY=XXXXXXXX

